doctype html
html(lang="en")
    head
        // Basic Page Needs
        meta(charset="utf-8")
        title Best Travel Agency
        meta(name="description" content="Best Travel Agency")
        meta(name="keywords" content="")
        meta(name="author" content="Mohammed Sabri")
        |
        |
        // Mobile Specific Metas
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        |
        |
        // Normalize
        link(rel="stylesheet" href="css/vendor/normalize/normalize.min.css")
        |
        |
        // Fixed
        link(rel="stylesheet" href="css/vendor/fixed/fixed.css")
        |
        |
        // Wowjs
        link(rel="stylesheet" href="css/vendor/wow.js/animate.css")
        |
        |
        // FontAwesome
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        |
        |
        // Bootstrap
        link(rel="stylesheet" href="css/vendor/bootstrap/bootstrap.min.css")
        |
        |
        // CSS Stylesheet
        link(rel="stylesheet" href="css/output.css")
        |
        |
        // Favicons
        link(rel="shortcut icon" href="favicon/favicon-me.ico")
        |
        |
    body(data-spy="scroll" data-target="#navbarResponsive")
        |
        |
        // Preloader
        #preloader
            .loading
                .obj
                .obj
                .obj
                .obj
                .obj
                .obj
                .obj
                .obj
        |
        |
        // Start Header Part
        |
        |
        // Start Home Section
        #home

            // Start Navigation
            #nav-bar
                nav.navbar.navbar-expand-lg.navbar-light.fixed-top

                    // Navbar-Brand
                    a(href="#" class="navbar-brand" class="wow bounceIn")
                        img(src="img/MS Design(lightgreen-white).png")
                    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive")
                        span(class="navbar-toggler-icon")

                    // Nav-Item
                    .collapse.navbar-collapse.wow.bounceIn#navbarResponsive
                        ul.navbar-nav.ml-auto
                            li.nav-item
                                a(class="nav-link" href="#home") HOME
                            li.nav-item
                                a(class="nav-link" href="#services") SERVICES
                            li.nav-item
                                a(class="nav-link" href="#about") ABOUT US
                            li.nav-item
                                a(class="nav-link" href="#testimonials") TESTIMONIALS
                            li.nav-item
                                a(class="nav-link" href="#contacts") CONTACTS
            // End Navigation
            |
            |
            // Start Banner
            #banner
                .container
                    .row
                        .col-md-6
                            p.promo-title.wow.bounceIn BEST TRAVEL AGENCY
                            P.paragraph.wow.bounceIn Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusamus eius aperiam aliquam ratione dignissimos, labore a recusandae temporibus totam officia architecto unde voluptate in nesciunt eveniet repellendus suscipit veritatis
                            <a href="#">
                                <img src="img/play-btn.png" class="play-btn"> KNOW US
                            </a>
                            
                        .col-md-6.text-center
                            img(src="img/Travel_agency.png" class="img-fluid" class="wow bounceIn")
                img(src="img/wave.png" class="bottom-img")
            // End Banner
            |
            |
        // End Home Section
        |
        |
        // End Header Part

        // Start Main Part
        |
        |
        // Start Services Section
        #services
            .container
                .row.text-center
                    .col-md-12
                        h1.title.wow.bounceIn OUR SERVICE
                
                .row.text-center
                    .col-md-4.services.wow.bounceIn
                        i(class="fas fa-hotel")
                        h4 Best Hotels
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sed vel officia totam enim consequuntur dolorem, rem tenetur aliquid exercitationem labore doloribus saepe sapiente, magnam possimus ducimus cum voluptatibus est

                    .col-md-4.services.wow.bounceIn
                        i(class="fas fa-plane-departure")
                        h4 Best Travels
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sed vel officia totam enim consequuntur dolorem, rem tenetur aliquid exercitationem labore doloribus saepe sapiente, magnam possimus ducimus cum voluptatibus est

                    .col-md-4.services.wow.bounceIn
                        i(class="fas fa-concierge-bell")
                        h4 Best Service
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sed vel officia totam enim consequuntur dolorem, rem tenetur aliquid exercitationem labore doloribus saepe sapiente, magnam possimus ducimus cum voluptatibus est
                
                .row.text-center
                    .col-md-12
                        button(type="button" class="btn btn-primary" class="wow bounceIn") All Services
        // End Services Section
        |
        |
        // Start About Section
        #about
            .container

                .row.text-center
                    .col-md-12
                        h1.title.wow.bounceIn WHY CHOOSE US
                
                .row.text-justify

                    .col-md-6.about-us
                        p.about-title.wow.bounceIn Why we're different ?
                        ul.wow.bounceIn
                            li Lorem ipsum dolor sit amet consectetur adipisicing elit
                            li Lorem ipsum dolor sit adipisicing elit
                            li Lorem ipsum dolor sit amet consectetur
                            li Lorem amet consectetur adipisicing elit
                            li Lorem ipsum dolor sit amet consectetur elit
                            li Lorem ipsum dolor sit amet consectetur adipisicing elit
                            li Lorem ipsum dolor sit 

                    .col-md-6.about-us
                        img(src="img/diffrent.png" class="img-fluid" class="wow bounceIn")
        // End About Section
        |
        |
        // Start Testimonials Section
        #testimonials
            .container

                .row.text-center
                    .col-md-12
                        h1.title.wow.bounceIn WHAT CLIENT SAY
                
                .row
                    .col-md-6.testimonials
                        p.details.wow.bounceIn Angela Rechard (Teacher)
                        img(src="img/client_1.jpg" class="wow bounceIn")
                        p.wow.bounceIn Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sed vel officia totam enim consequuntur dolorem, rem tenetur aliquid exercitationem labore doloribus saepe sapiente, magnam possimus ducimus cum voluptatibus est
                        
                    
                    .col-md-6.testimonials
                        p.details.wow.bounceIn Jack Nelton (Artist)
                        img(src="img/client_2.jpg" class="wow bounceIn")
                        p.wow.bounceIn Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sed vel officia totam enim consequuntur dolorem, rem tenetur aliquid exercitationem labore doloribus saepe sapiente, magnam possimus ducimus cum voluptatibus est

        // End Testimonials Section
        |
        |
        // End Main Part

        // Start Footer Part
        |
        |
        // Start Contacts Section
        #contacts
            .container.text-center
                p.wow.bounceIn FIND US ON SOCIAL MEDIA
                .contacts
                    a(href="#")
                        img(src="img/facebook_logo.png" class="wow bounceIn")
                    a(href="#")
                        img(src="img/instagram_logo.png" class="wow bounceIn")
                    a(href="#")
                        img(src="img/twitter_logo.png" class="wow bounceIn")
                    a(href="#")
                        img(src="img/whatsapp_logo.png" class="wow bounceIn")
                    a(href="#")
                        img(src="img/snapshat_logo.png" class="wow bounceIn")
                    a(href="#")
                        img(src="img/linkedin_logo.png" class="wow bounceIn")
        // End Contacts Section
        |
        |
        // Start Footer Section
        #footer
            .container

                .row

                    .col-md-4.footer-box
                        img(src="img/MS Design(lightgreen-white).png" class="wow bounceIn")
                        p.p1.wow.bounceIn Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt est quas consequatur architecto perspiciatis fuga ipsa vero aliquam, tempora, velit molestias earum sit eaque! Eius fugit eos labore cumque harum

                    .col-md-4.footer-box
                        p.contact.wow.bounceIn CONTACT US
                        i(class="fas fa-map-marker-alt")
                        p.details.wow.bounceIn World Trade Center, New York
                        i(class="fas fa-phone")
                        p.details.wow.bounceIn (+8) 888 888 888
                        i(class="fas fa-envelope")
                        p.details.wow.bounceIn xyz@gmail.com

                    .col-md-4.footer-box
                        p.newsteller.wow.bounceIn  SUBSCRIBE NEWSLETTER
                        input(type="email" class="form-control" placeholder="Your Email" class="wow bounceIn")
                        button(type="button" class="btn btn-primary" class="wow bounceIn") Subscribe
                hr
                p.copyright.wow.bounceIn Created By 
                    span Mohammed Sabri

        // End Footer Section
        |
        |
        // End Footer Part

        // Start JS Stylesheet
        |
        |
        // jQuery CDN
        script(src="js/vendor/jquery/jquery-3.3.1.js")
        |
        |
        // Bootstrap
        script(src="js/vendor/bootstrap/bootstrap.min.js")
        |
        |
        // Wow js
        script(src="js/vendor/wow.js/wow.min.js")
        |
        |
        // Font-Awesome
        script(src="js/vendor/fontawesome/all.min.js")
        |
        |
        // Smooth Scroll
        script(src="js/vendor/smooth_scroll/smooth-scroll.js")
        |
        |
        // JS Stylesheet
        script(src="js/main.js")
        |
        |
        // End JS Stylesheet