#about {
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;

    .title {
        font-weight: 700;

        @include xs {font-size: 31px}
        @include sm {font-size: 31px}
        @include md {font-size: 31px}
    }

    .title::before {
        content: '';
        background: $main-color;
        height: 5px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transform: translateY(63px);
    }

    .title::after {
        content: '';
        background: $main-color;
        height: 10px;
        width: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        display: block;
        transform: translateY(8px);

        @include xs {margin-top: 10px;}
        @include sm {margin-top: 10px;}
        @include md {margin-top: 10px;}
    }

    .about-us {
        padding: 16px 0px;

        @include lg {padding: 16px 16px;}

        .about-title {
            font-size: 40px;
            font-weight: 600;
            margin-top: 8%;

            @include xs {font-size: 30px;}
            @include sm {font-size: 30px;}
            @include md {font-size: 30px;}
            @include lg {font-size: 32px;}
        }

        ul {
            list-style-type: none;
            padding: 0px;
            
            li {
                margin: 10px 0;
                text-align: justify;
            }
        }
    }

    .img-fluid {
        @include lg {margin-top: 105px;}
        @include xl {margin-top: 50px;}
    }
}